.titulo {
    text-align:center;
    color:blue
}


.tabela {
    border: 1px solid black;
    width: 500px; 
    margin:auto;
    background-color: yellow;
}

.linhas {
    text-align:center;
    color:red
}

.componentes{
    margin-bottom: 20px;
     
    
}

.componentes label {
    display: block;
    font-weight: bold;
      
}

.componentes input,select,textarea {
    width:400px
}

.componentes button {
    width: 100px;
    heigth:30px;
    border: none;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0275d8;
}

.componentes button:hover {
    background-color: #d9534f;
}

.componentes picture{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;


}

.titulo_destaque{
    background-color:powderblue
}
.fonte_cor_tituli_destaque{
    color: #f4511e;
}

.fonte_titulo_destaque_alinhamento{
    text-align:center    
}

.fonte_titulo_destque_tamanho{
    font-size:500% 
}

.fonte_protocolo_dados_tamanho{
    font-size:200% 
}

.fonte_cor_protocolo_dados{
    color: #f4511e;
}

